version: '3.8'

services:
  font-api:
    image: pytorch/pytorch:2.5.1-cuda12.4-cudnn9-devel
    container_name: FontClassifier
    working_dir: /work_dir
    
    
    volumes:
      - ./:/work_dir
    
    ports:
      - "6006:6006"
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    
    environment:
      - NVIDIA_VISIBLE_DEVICES=0


    command: >
      bash -c "
      apt-get update && apt-get install -y libgl1-mesa-glx libglib2.0-0 &&
      pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple &&
      echo 'Dependencies installed. Starting API...' &&
      gunicorn -w 2 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:6006 api:app --timeout 120
      "
    
    restart: unless-stopped